<!DOCTYPE html>
<html>
  <head>
    <title>E Commerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div id="navbarDisplay">
    <%= render "layouts/navbar" %>
  </div>
  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
